.booking-form{
    h2{
        font-family: var(--font-family-new) !important;
    }
    p{
        font-weight: 400;
        font-size: 15px;
        line-height: 1.8;
        color: #6c757d;
    }
}